<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Votre demande de réservation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/barre.css}" />
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" />
</head>
<body>
<div th:insert="~{baniere :: fragment }"></div>
<main>
<Br>
    <h1>Réservation d'un livre</h1>
    <div class="inter">
        <h2>
        <span>Vous avez demandé de réserver le livre : </span><a th:text="${livre.titre}"></a><span> de </span><a th:text="${livre.auteur}"></a><br>
        <span></span><br>
        <span>Votre réservation N°: </span> <a th:text="${reservation.idReservation}"></a> <br>
        <span> Pour le prix de location de  </span><a th:text="${livre.prixLocation}"></a> <span> € </span><br>
        <span>Vous avez 5 jours pour retirer votre livre</span><br>
        <span>Le prêt durera </span><a th:text="${reservation.delaiDeLocation}"></a><span> jours et ne pourra être renouvelé qu'une fois </span><br>
        <span> Maintenant venez chercher votre livre dans votre bibliothèque préférée :  </span><a th:text="${livre.bibliotheque.getNomBibliotheque()}"></a>
        <span></span><br>
        <span> Bonne lecture !! </span>
        </h2>
    </div>
    <Footer class="pagination">
        <nav aria-label="pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" th:href="@{/livre/all}" tabindex="-1"><i class="fas fa-undo"></i> Retour</a>
                </li>
            </ul>
        </nav>
    </Footer>
</main>

</body>
<div th:insert="~{bootstrap :: fragment }"></div>
</html>